body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    /* background-image: url("../images/landing/Dragon-Scales.svg"); */
    /* background-attachment: fixed; */
    /* background-size: contain; */

}
.navbar{
    background-color: #fff;
    height: 75px;
    box-shadow: 0 0.10rem 0.1rem rgb(0 0 0 / 8%) !important;
}

.navbar .navbar-brand .logo {
    height: 50px;
}

.navbar .nav-item .nav-link{
    color: #515A5A;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    
}

/* .navbar .nav-item .nav-link:hover{ */
    /* color: #85C1E9; */
    /* border-bottom: 1px solid #ebe9ee; */
/* } */

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  .dropdown-menu {
    margin-top: 0;
  }


.text-placeholder{
    color: #E67E22;
    padding: 5px 10px 5px 10px;
    font-style: italic;
}

.signup-btn,.signin-btn{
    margin-top:4px;
    padding: 5px;

}

.partners-section{
    padding: 50px 100px 50px 100px;
    background-color:#FFF ;
    /* box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%); */
    
 
}
.partners-section h4{
    /* font-family: "Open Sans",sans-serif; */
    font-weight: lighter;
    font-size: 35px;
    
}

.partners-section .splide ul li{
    margin:0px 10px 0px 10px;
}

.partners-section .splide ul li img{
    width: 50%;
}

.cl-section{
    margin-top: 100px;
    padding: 50px 100px 50px 100px;
    /* background-color: #FBFCFC; */
 
}

.cl-section h4{
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 35px;
    font-weight: lighter;
}

.cl-section .cl{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1rem;
    margin-top: 20px;
    height: auto;
    /* box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.cl-section .cl .cl-inner{
  background-color: #fff;
  padding: 10px;
  /* border: 1px solid #ebe9ee; */

  /* box-shadow: 0.1rem 0 0.1rem 0.1rem rgb(0 0 0 0 / 8%); */
    /* box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.cl-section .cl .cl-inner h5{
    font-size: 23px;
    font-weight: lighter;
}

.cl-section .cl .cl-inner .cl-body p{
    font-size: 18px;
    font-weight: lighter;
    margin-top: 10px;
}


.plan-section{
    margin-top: 100px;
    padding: 100px;
    /* background-color: #FBFCFC; */
}

.plan-section h4{
    /* font-family: "Open Sans", sans-serif; */
    font-size: 35px;
    font-weight: lighter;
}


.plan-section-cl{
   
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 2rem;
    margin-top: 10px;
    height: auto;
  
    /* background: linear-gradient(to bottom right,#fff,#FBFCFC); */
}



.plan-section-cl-inner .plans-text ul{
    padding: 10px;
    list-style: none;
}

.plan-section-cl-inner .plans-text ul li{
    margin: 10px 0px 10px 0px;  
    padding: 10px;
    /* border: 1px solid #ebe9ee; */
}
.plan-section-cl-inner .plans-text ul li a{
    font-size: 23px;
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

.plan-section-cl-inner .plans-text ul li a:hover{
color: #fff;
}

.plan-section-cl-inner .plans-text .table thead th {
    border: none !important;
}

.plan-section-cl-inner .plans-text .table tbody tr td{
    border: none !important;
}

.plan-section-cl .plan-section-cl-inner{
    /* box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important; */
    /* background-color: #fff; */
    padding: 10px;
    /* border:1px solid #ebe9ee; */
    /* box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.bundles-view-btn{
    border: 2px solid #85C1E9;
    padding: 20px;
    border-radius: 50px;
    color: #85C1E9;
    font-weight: bolder;
}

.bundles-view-btn:hover{
    border: none;
    background-color: #4F668D ;
    color: #fff;
}


.sms-credit-view-btn{
    border: 2px solid #85C1E9;
    padding: 20px;
    border-radius: 50px;
    color: #85C1E9;
    font-weight: bolder;;
}

.sms-credit-view-btn:hover{
    border: none;
    background-color: #4F668D ;
    color: #fff;
}

.email-credit-view-btn{
    border: 2px solid #85C1E9;
    padding: 20px;
    border-radius: 50px;
    color: #85C1E9;
    font-weight: bolder;
}

.email-credit-view-btn:hover{
    border: none;
    background-color: #4F668D ;
    color: #fff;
}



.start-trial-section{
    margin-top: 100px;
    background-color: #E67E22;
    padding: 50px 100px 50px 100px;

}
.start-trial-box{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 1.5rem;

}

.start-trial-inner{
    padding: 20px;
}

.start-trial-inner h3{
    color: #fff;
    font-size: 32px;
    font-weight: bolder;
}
.start-trial-inner form{
    padding: 20px;
}

.start-trial-inner form .form-control{
    height: 70px;
    border: none !important;
    outline: inherit !important;
}

.start-trial-inner form .btn{
    background-color: #4F668D;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.campaign-section{
    margin-top: 30px;
    padding: 10px;
}

.campaign-list{
    padding: 30px;
    margin-top: 50px;
    
}
.campaign-list ul{
    list-style-type: none;
}

.campaign-list ul li{
    display: inline;
    padding: 17px;
    background-color: #4F668D;
    
}

.campaign-list ul li a{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
   
}


.campaign-title{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}

.campaign-list ul li:hover{
    background-color: #E67E22;
}

.campaign-descriptions{
    margin-top: 100px;
    padding: 10px;
}

.campaign-descriptions .campaign{
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    margin-bottom: 100px;
}
.campaign-descriptions .campaign-inner h4{
    font-weight: bolder;
    font-size: 27px;
}

.campaign-descriptions .campaign .campaign-inner p{
    margin-top: 20px;
    font-weight: 600;
}


.img-box img{
    width: 60%;
}

.banner{
    height: 500px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* background-image: linear-gradient(to bottom right,#FBFCFC,#fff); */


}

.bundles-section{
    padding: 50px 100px 50px 100px;
    /* background-image: linear-gradient(to bottom right,#FBFCFC,#fff); */

    
    /* background-color:linear-gradient(to right,rgba(255,0,0,0),255,0,0,1) ; */
}

.bundles-section .subscriptions .bundle-cl-inner{
    padding: 10px;
    margin: 15px;
    /* box-shadow: 0 0.3rem rgb(0 0 0 / 8%) !important; */
}


.bundles-section .subscriptions{
    padding: 20px 10px 20px 10px;
    /* box-shadow: 0 0.1rem rgb(0 0 0 / 8%) !important; */
}

.bundles-section .subscriptions h5{
    font-size: 25px;
    margin-left: 10px;
}

.bundles-section .subscriptions .table thead th{
    font-size: 20px;
    border-bottom: none !important;
}
.bundles-section .subscriptions .table tbody tr td{
    font-size: 16px;  
}

.bundles-section .subscriptions .table tbody tr:hover{
    border-left: 4px solid #E67E22;
    background-color: #FBFCFC;
}


.bundle-trial-btn{
    border: 2px solid #85C1E9;
    color: #85C1E9;
    font-weight: bold;
}



.left-side-content .inner-content{
    margin-top: 50px;
}
.left-side-content h3{
    font-size: 40px;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 31px;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }
.word{
    font-size: 60px;
    color: #E67E22;
}
.left-side-content .trial-box{
    margin-top:90px;
    padding: 5px 5px;
    background-color: #ebe9ee;
}

.left-side-content .trial-box > form{
    margin-top: 14px;
    padding: 10px;
    align-items: center;
}

.left-side-content .trial-box > form .form-control{
    height: 70px;
    border: none !important;
    outline: inherit !important;
    font-size: 20px;
}

.left-side-content .trial-box > form .input-group-append .btn{
    background-color:#E67E22 ;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.emphasis{
    color: #85C1E9 ;
}

.left-side-content .inner-content p{
    font-weight:bold;
    font-size: 18px;
}

.mini{
    font-size: 25px;
}

.right-side-content
{
    padding:10px;
    font-family: "Open Sans", sans-serif;
}


.video-section {
	align-items:center;
	/* margin-top:20px; */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height: auto;
    height: 300px;


}

.video-section .video-container img{
    width: 100%;
}

.video-section .video-container a {
	height:100%;
	top:80px;
	right:50%;
	position:absolute;
	z-index:2;
}
.video-section .video-container a img {
	position:absolute;
	top:107px;
	color:rgb(192, 138, 138);
	transform:translate(-50%,-50%);
	width:70px;
}

.key-prepositions{
    background-color: #FDFEFE;
    padding:130px 100px 0px 100px;
}

.key-prepositions .row .col-lg-6 p{
    font-weight: lighter;
    font-size: 22px;
}

.key-prepositions .row .col-lg-6 .prepo-title{
    font-size: 35px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}



.key-prepositions .row .col-lg-6 .inner-span{
    background-color: #E67E22;
    width:40px;
    border-radius: 50%;
    padding: 2px 6px 2px 6px;
}

.key-prepositions .row .col-lg-6 img{
    width: 90%;
    position: relative;
    bottom: 70px;
}

.pre-home-footer{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}


.pre-home-footer-cl-inner .header{
    font-size: 22px;
    font-family: "Open Sans",sans-serif;
}

.pre-home-footer-cl-inner .vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .pre-home-footer-cl-inner .vertical-menu a {
    color: #000; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 10px 0px 10px 0px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px;
    font-weight: normal;
  }



.home-footer{
 background: #4F668D;
 padding:20px 100px 10px 100px; 
 color: #fff;      
}

.home-footer .f-box {
    display: flex;
    padding:5px;
    position: relative;
    justify-content: space-between;
}
.home-footer .f-box .logo-box {
    width: 300px;
}

.home-footer .f-box .logo-box img{
    width: 50%;
    filter: brightness(100) grayscale(1);
}

.home-footer .f-box .social-links-box .social-links-ul{
    list-style-type: none;
    display: inline;
}

.home-footer .f-box .social-links-box .social-links-ul li{
    display: inline;
    padding: 0 15px 0 15px;
}



.home-footer .policies .policies-ul{
    list-style-type: none;
    text-align: center;
}

.home-footer .policies .policies-ul li{
    display: inline;
    padding: 0 15px 0 15px;
}

.home-footer .policies .policies-ul li a{
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}

.home-footer .policies .policies-ul li a:hover{
    color: yellow;
}


.home-footer .overlay-container{
    position:fixed;
    right: 20px;
    bottom: 10px;
    background-color: #000;
    width: fit-content;
    padding: 13px 18px 13px 18px;
    border-radius: 50%;
    cursor: pointer;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    
}

.home-footer .overlay-container i{
    font-size: 30px;
}


.col-list h6{
    font-size: 19px;
    font-family: "Open Sans", sans-serif;

}
.col-list .vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .col-list .vertical-menu a {
    color: #fff; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px 0px 12px 0px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 17px;
    font-weight: lighter;
  }
  

 .policy-section, .terms-of-service-section, .cookie-policy-section, .how-it-works-section{
      margin-top: 40px;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 20px;
      margin-bottom: 100px;
  }

 .policy-section > h3, .terms-of-service-section > h3, .how-it-works-section > h3, .cookie-policy-section > h3{
      font-size: 45px;
      font-family: "Open Sans", sans-serif;
  }
 .policy-section h4, .terms-of-service-section h4, .how-it-works-section > h4, .cookie-policy-section > h4{
      font-weight: 470;
      font-size: 30px;
      margin-top: 30px;
  }

 .policy-section h6, .cookie-policy-section h6{
      font-weight: 450;
      margin-top: 30px;
      font-size: 20px;
  }
 .policy-section p, .terms-of-service-section p, .how-it-works-section p, .cookie-policy-section p{
    font-size: 17px;
    font-weight: 350;
   margin-top: 10px;
  }

 .policy-section ul{
    display: block;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px !important;
  }
.policy-section ul li{
    list-style: none;
    margin-left: 0px;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
}

.cookie-policy-section div .main{

    display: block;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px !important;
}

.cookie-policy-section div .main li{
    margin-left: 0px;
    font-size: 17px;
    margin-bottom: 15px;
}



.support-section .support-banner{
    background-color: #4F668D;
    padding: 100px 100px 100px 100px;
    height: 400px;
}
.support-section .support-header h4{
    font-size: 50px;
    font-family: "Open Sans", sans-serif; 
    color: #fff;
}

.support-section .main-support-inner{
   
  background-image: linear-gradient(to bottom right,#FBFCFC,#fff);
}

.support-section .support-text p{
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
}

.support-section .support-bx-inner{
    padding: 50px 50px 50px 10px;
}

.support-section .support-bx-inner h4{
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}

.support-section .support-bx-inner p{
    font-size: 20px;
    font-weight: lighter;
}

.contact-sales-section{
    padding: 30px 70px 50px 70px;
    /* background-color: #FBFCFC; */
    /* background: linear-gradient(to bottom right,#fff,#FBFCFC); */

}
.contact-sales-section h5{
    font-size: 45px;
    font-weight: lighter;
}

.contact-sales-section .contact-sales-form-box{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 2rem;
    margin-top: 30px;
    background-color: #fff;
    padding:20px;
}
.contact-sales-section .contact-sales-form-box form .row .col-lg-6 {
    margin-bottom: 30px;
}

.contact-sales-section .contact-sales-form-box form .row .col-lg-6 .form-label{
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
}
.contact-sales-section .contact-sales-form-box form .row .col-lg-6 .form-control-input{
    height: 50px;
    width: 100%;
    padding: 10px;
    outline: none;
    border:none;
    background-color: #FBFCFC;
    /* border-radius: 30px; */
}

.contact-sales-section .contact-sales-form-box form .row .col-lg-12 .form-label{
    font-size: 18px;
    font-weight: lighter;
    text-transform: uppercase;
}

.contact-sales-section .contact-sales-form-box form .row .col-lg-12 textarea{
    /* border: 1px solid #000 !important; */
    border:1px solid #ebe9ee !;
    outline: none !important;

}

.contact-sales-section .contact-sales-form-box form .row .col-lg-12 .btn{
    background-color: #4F668D;
    height: 60px;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

.contact-sales-section .contact-sales-form-box form .row .col-lg-12 .btn:hover{
    background-color: #E67E22;
}

.chat-btn{
    border: 2px solid #85C1E9;
    color: #85C1E9;
}

.chat-btn:hover{
    background-color: #85C1E9;
    color: #fff;
}
.terms-of-service-section div ul{
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px !important;
  }

.terms-of-service-section div ul li{
    margin-left: 20px;
    font-weight: 350;
    font-size: 17px;
    margin-bottom: 10px;
}





/* Media Queries*/


@media screen and (max-width:320px){

    .collapse{
        background-color:#fff;
        padding: 20px;
        z-index: 99;
        margin-top: 10px;
    }
    
    /* Banner stylings */
    .banner{
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
      
    }

    .left-side-content h3{
        font-size: 20px;
        font-family: "Open Sans", sans-serif;
    }

    /* Start Trial Form */
    .left-side-content .trial-box{
        margin-top: 20px;
        padding: 5px 5px;
        background-color: #ebe9ee;
    }
    
    .left-side-content .trial-box > form{
        margin-top: 14px;
        padding: 10px;
        align-items: center;
    }
    
    .left-side-content .trial-box > form .form-control{
        height: 50px;
        border: none !important;
        outline: inherit !important;
        font-size: 15px;
    }
    
    .left-side-content .trial-box > form .input-group-append .btn{
        background-color:#E67E22 ;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }

    /* Video Section inside top banner */
    .right-side-content
{
    padding:10px;
    font-family: "Open Sans", sans-serif;
}


.video-section {
	align-items:center;
	/* margin-top:20px; */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    height: auto;
    height: 350px;


}

.video-section .video-container img{
    width: 100%;
}

.video-section .video-container a {
	height:100%;
	top:10px;
	right:50%;
	position:absolute;
	z-index:2;
}
.video-section .video-container a img {
	position:absolute;
	top:100px;
	left:50%;
	color:rgb(192, 138, 138);
	transform:translate(-50%,-50%);
	width:70px;
}


    .key-prepositions{
        background-color: #FDFEFE;
        padding:10px 10px 10px 10px;
    }
    
    .key-prepositions .row .col-lg-6 .prepo-title{
        font-size: 20px;
        font-weight: bold;
        font-family: "Open Sans",sans-serif;
    }

    .key-prepositions .row .col-lg-6 p{
        font-weight: lighter;
        font-size: 17px;
    }

    .key-prepositions .row .col-lg-6 .inner-span{
        background-color: #E67E22;
        width:40px;
        border-radius: 50%;
        padding: 2px 6px 2px 6px;
    }
    
    .key-prepositions .row .col-lg-6 img{
        width: 90%;
        position: relative;
        bottom: 70px;
    }

   
    .cl-section .cl, .plan-section-cl, .start-trial-box{
        display: flex;
        flex-direction: column;
    }

    .cl-inner,.plan-section-cl-inner, .start-trial-inner{
        margin-bottom: 10px;
    }


    .cl-section h4{
        font-size: 20px;
    }

    .home-footer .overlay-container{
        position:fixed;
        right: 20px;
        bottom: 10px;
        background-color: #000;
        width: fit-content;
        padding: 6px 10px 7px 10px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        
    }
    
    .home-footer .overlay-container i{
        font-size: 30px;
    }
    .campaign-section{
        margin-top: 30px;
    }

    .campaign-title{
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    .campaign h4{
        font-size: 24px;
    }

    .campaign-inner p{
        font-size: 14px;
        text-align: justify;
    }
    .campaign-list{
        padding:0;
        margin: 0px;
    }

    .campaign-list ul{
        list-style-type: none;
    }
    
    .campaign-list ul li{
        display: inline;
        background-color: #4F668D;
        
    }
    
    .campaign-list ul li a{
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
       
    }

    
 

  
}




@media  screen and (max-width:540px){
  
    .collapse{
        background-color:#fff;
        padding: 20px;
        z-index: 99;
        margin-top: 10px;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
        height: 1024px;
    }

    .signup-btn, .signin-btn{
      display: block;
    }
    
    /* Banner stylings */
    .banner{
        height: 650px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 10px;
        box-shadow: 0 0.10rem 0.1rem rgb(0 0 0 / 8%) !important;

       
    }

    .left-side-content h3{
        font-size: 25px;
        font-family: "Open Sans", sans-serif;
    }

    .key-prepositions{
        background-color: #FDFEFE;
        padding:30px 10px 10px 10px;
    }
    
    .key-prepositions .row .col-lg-6 .prepo-title{
        font-size: 22px;
        font-weight: bold;
        font-family: "Open Sans",sans-serif;
    }

    .key-prepositions .row .col-lg-6 p{
        font-weight: lighter;
        font-size: 17px;
    }
    
    .key-prepositions .row .col-lg-6 .inner-span{
        background-color: #E67E22;
        width:40px;
        border-radius: 50%;
        padding: 2px 6px 2px 6px;
    }
    
    .key-prepositions .row .col-lg-6 img{
        width: 90%;
        position: relative;
        bottom: 0;
    }


    .left-side-content h3{
        font-size: 32px;
        font-family: "Open Sans", sans-serif;
    }

   
    .cl-section .cl, .plan-section-cl, .start-trial-box{
        display: flex;
        flex-direction: column;
    }

    .cl-inner,.plan-section-cl-inner, .start-trial-inner{
        margin-bottom: 10px;
    }


    .cl-section h4{
        font-size: 20px;
    }

    .home-footer .overlay-container{
        position:fixed;
        right: 20px;
        bottom: 10px;
        background-color: #E67E22;
        width: fit-content;
        padding: 6px 10px 7px 10px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        color: #555;
        font-size: 30px;
        text-decoration: none;
        
    }
    
    .home-footer .overlay-container i{
        font-size: 30px;
    }

    .campaign-inner-box{
        margin-bottom: 100px;
    }
    .campaign-section{
        margin-top: 30px;
    }

    .campaign-title{
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    .campaign-inner-box .lead{
        font-size: 13px !important;
        font-weight: 400;
    }

    .campaign h4{
        font-size: 24px;
    }

    .campaign-inner p{
        font-size: 14px;
        text-align: justify;
    }
    

    .campaign-list ul{
        list-style-type: none;
    }
    
    .campaign-list ul li{
        display: inline;
        background-color: #4F668D;
        
    }
    
    .campaign-list ul li a{
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
       
    }


    .policy-section{
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
  
   .policy-section > h3{
        font-size: 27px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    }
   .policy-section h4{
        font-weight: 470;
        font-size: 20px;
        margin-top: 50px;
    }
  
   .policy-section h6{
        font-weight: 450;
        margin-top: 50px;
        font-size: 18px;
    }
   .policy-section p{
      font-size: 15px;
      font-weight: 370;
     margin-top: 10px;
    }
   .policy-section ul{
      display: block;
      list-style-type: none !important;
      margin-block-start: 0px !important;
      margin-block-end: 0px !important;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px !important;
    }

  .policy-section ul li{
      list-style: none;
      margin-left: 0px;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px;
  }
  

  .start-trial-box-inner{
      margin-bottom: 0px;
  }
  .start-trial-box-inner h3{
      font-size: 25px !important;
  }

  .pre-home-footer{
    margin-top: 50px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.pre-home-footer-cl-inner{
    margin-bottom: 30px;
}

.pre-home-footer-cl-inner .header{
    font-size: 25px;
    font-family: "Open Sans",sans-serif;
}

.pre-home-footer-cl-inner .vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .pre-home-footer-cl-inner .vertical-menu a {
    color: #000; /* Black text color */
    display: block; /* Make the links appear below each other */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 7px;
  }

  
.home-footer{
    background: #4F668D;
    color: #fff;  
      
   }

  .home-footer .f-box {
    flex-direction: column;
    padding:5px;
    position: relative;
}
.home-footer .f-box .logo-box {
    padding:10px;
    width: 100%;
    text-align: center;    
}

.home-footer .f-box .logo-box img{
    width: 70%;
    filter: brightness(100) grayscale(1);
}

.home-footer .f-box .social-links-box{
    width: 100%;
    margin-top: 20px;
}

.home-footer .f-box .social-links-box .social-links-ul{
    list-style-type: none;
    display: inline;
    
}

.home-footer .f-box .social-links-box .social-links-ul li{
    display: inline;
    padding: 0 10px 0 10px;
    text-align: center;
}



.home-footer .policies .policies-ul{
    list-style-type: none;
}

.home-footer .policies .policies-ul li{
    display: block;
}

.home-footer .policies .policies-ul li a{
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}


  
}
/* End of media query for screen size at least 500px */


@media only screen and (max-width:540px) {
    
.home-footer .f-box .social-links-box .social-links-ul li{
    display: inline;
    padding: 0 5px 0 5px;
    text-align: center;
}

}




@media only screen and (max-width:540px){
  
    .collapse{
        background-color:#fff;
        padding: 20px;
        z-index: 99;
        margin-top: 10px;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
        height: 1024px;
    }

    .signup-btn, .signin-btn{
      display: block;
    }
    

    .left-side-content h3{
        font-size: 32px;
        font-family: "Open Sans", sans-serif;
    }

   
    .cl-section .cl, .plan-section-cl, .start-trial-box{
        display: flex;
        flex-direction: column;
    }

    .cl-inner,.plan-section-cl-inner, .start-trial-box-inner{
        margin-bottom: 10px;
    }


    .cl-section h4{
        font-size: 20px;
    }

    .home-footer .overlay-container{
        position:fixed;
        right: 20px;
        bottom: 10px;
        background-color: #E67E22;
        width: fit-content;
        padding: 6px 10px 7px 10px;
        border-radius: 50%;
        cursor: pointer;
        line-height: 40px;
        overflow: hidden;
        z-index: 999;
        display: none;
        color: #555;
        font-size: 30px;
        text-decoration: none;
        
    }
    
    .home-footer .overlay-container i{
        font-size: 30px;
    }

    .campaign-inner-box{
        margin-bottom: 100px;
    }
    .campaign-section{
        margin-top: 30px;
    }

    .campaign-title{
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    .campaign-inner-box .lead{
        font-size: 13px !important;
        font-weight: 400;
    }

    .campaign h4{
        font-size: 24px;
    }

    .campaign-inner p{
        font-size: 14px;
        text-align: justify;
    }
    

    .campaign-list ul{
        list-style-type: none;
    }
    
    .campaign-list ul li{
        display: inline;
        background-color: #4F668D;
        
    }
    
    .campaign-list ul li a{
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
       
    }


    .policy-section, .terms-of-service-section{
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }

   .policy-section > h3, .terms-of-service-section > h3{
        font-size: 27px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    }
   .policy-section h4, .terms-of-service-section h4{
        font-weight: 470;
        font-size: 20px;
        margin-top: 50px;
    }
  
   .policy-section h6{
        font-weight: 450;
        margin-top: 50px;
        font-size: 18px;
    }
   .policy-section p, .terms-of-service-section p{
      font-size: 100px;
      font-weight: 370;
     margin-top: 10px;
    }
   .policy-section ul{
      display: block;
      list-style-type: none !important;
      margin-block-start: 0px !important;
      margin-block-end: 0px !important;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px !important;
    }

  .policy-section ul li{
      list-style: none;
      margin-left: 0px;
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px;
  }


  .terms-of-service-section div ul{
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px !important;
  }

.terms-of-service-section div ul li{
    margin-left: 0px;
    font-weight: 350;
    font-size: 15px;
    margin-bottom: 10px;
}
  

  .start-trial-box-inner{
      margin-bottom: 0px;
  }
  .start-trial-box-inner h3{
      font-size: 25px !important;
  }

  .pre-home-footer{
    margin-top: 50px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pre-home-footer-cl-inner{
    margin-bottom: 30px;
}

.pre-home-footer-cl-inner .header{
    font-size: 25px;
    font-family: "Open Sans",sans-serif;
}

.pre-home-footer-cl-inner .vertical-menu {
    width: 200px; /* Set a width if you like */
  }
  
  .pre-home-footer-cl-inner .vertical-menu a {
    color: #000; /* Black text color */
    display: block; /* Make the links appear below each other */
    text-decoration: none; /* Remove underline from links */
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 7px;
  }

  
.home-footer{
    background: #4F668D;
    margin-top: 100px; 
    color: #fff;  
      
   }

  .home-footer .f-box {
    flex-direction: column;
    padding:5px;
    position: relative;
}
.home-footer .f-box .logo-box {
    padding:10px;
    width: 100%;
    text-align: center;    
}

.home-footer .f-box .logo-box img{
    width: 70%;
    filter: brightness(100) grayscale(1);
}

.home-footer .f-box .social-links-box{
    width: 100%;
    margin-top: 20px;
}

.home-footer .f-box .social-links-box .social-links-ul{
    list-style-type: none;
    display: inline;
    
}

.home-footer .f-box .social-links-box .social-links-ul li{
    display: inline;
    padding: 0 10px 0 10px;
    text-align: center;
}



.home-footer .policies .policies-ul{
    list-style-type: none;
}

.home-footer .policies .policies-ul li{
    display: block;
}

.home-footer .policies .policies-ul li a{
    color: #fff;
    font-weight: normal;
    text-decoration: none;
}


  
}


